Which genres are most popular from year to year?,
What kinds of properties are associated with movies that have high revenues?

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('tmdb-movies.csv')
df.drop_duplicates(inplace=True)
df.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [22]:
df_gen = df[df.genres.notna()]
df_gen.reset_index(drop=True, inplace=True)
df_gen.genres[424]
df_gen.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [23]:
## Splitting Each Movie Associated with multiple Genres into multiple rows in the dataframe
adds = []
rems = []
for x in range(df_gen['genres'].size):
    if ("|" in df_gen['genres'][x]):
        genlst = df_gen['genres'][x].split("|")
        rems.append(x)
        row = df_gen.iloc[x, :].copy()
        for gen in genlst:
            tmp = row.copy()
            tmp['genres'] = gen
            adds.append(tmp.values)

#print(adds, rems)

df_gen.drop(rems, inplace=True)
adds = pd.DataFrame(adds, columns = df.columns)
df_gen = df_gen.append(adds)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
df_gen

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
25,177677,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,http://www.missionimpossible.com,Christopher McQuarrie,Desperate Times. Desperate Measures.,...,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/15,2349,7.1,2015,1.379999e+08,6.277435e+08
26,214756,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,NaN,Seth MacFarlane,"Ted is Coming, Again.",...,Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/15,1666,6.3,2015,6.255997e+07,1.985944e+08
51,257211,tt2361509,2.814802,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,http://www.theinternmovie.com/,Nancy Meyers,Experience never gets old,...,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/15,1255,7.1,2015,3.219999e+07,1.789994e+08
55,295964,tt2503944,2.584264,20000000,36606743,Burnt,Bradley Cooper|Sienna Miller|Lily James|Alicia...,http://burntmovie.com/,John Wells,Never underestimate a man with everything to l...,...,Adam Jones is a Chef who destroyed his career ...,100,Drama,Double Feature Films|PeaPie Films|3 Arts Enter...,10/2/15,631,6.3,2015,1.839999e+07,3.367819e+07
58,306819,tt0810819,2.557859,15000000,64191523,The Danish Girl,Eddie Redmayne|Alicia Vikander|Matthias Schoen...,NaN,Tom Hooper,Find the courage to be yourself.,...,When Gerda Wegener asks her husband Einar to f...,120,Drama,Pretty Pictures|Working Title Films|ArtÃ©mis P...,11/27/15,867,7.3,2015,1.379999e+07,5.905618e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24622,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
24623,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
24624,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
24625,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
24626,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00

In [20]:
df_gen.genres.value_counts()

Thriller           5524
Romance            3503
Drama              2969
Family             2059
Science Fiction    2049
Comedy             1958
Crime              1373
Mystery            1115
Horror             1032
Fantasy             913
Adventure           676
War                 595
Music               556
Action              554
Documentary         455
Foreign             422
History             406
Western             338
TV Movie            275
Animation           183
Name: genres, dtype: int64